/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    background: #f4f9fd;
}
/*UTILITIES*/
.container {
    width: 1200px;
    margin: 0 auto;
}
.container-small {
    width: 950px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.w-50 {
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}
.btn {
    display: inline-block;
    min-width: 70px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}
.btn2 {
    display: inline-block;
    min-width: 70px;
    padding: 20px;
    margin: 30px 0;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}
.btn.btn-orange {
    background: #fe775a;
    border: 1px solid transparent;

}
.btn.btn-gray {
    background: #dadee0;
    border: 1px solid transparent;
}
.btn2.btn-orange {
    background: #fe775a;
    border: 1px solid transparent;

}
.btn .btn-big {
    padding: 20px;
}

.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
/*HEADER TOP*/
.header {
    background: #f4f9fd; 
}
.header-top {
    height: 80px;
    position: relative;
}
.header-top .header-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
}
.header-top .header-left .contact {
    border-left: 2px solid #000;
    padding-left: 20px;
}
.header-top .header-left .fa-chevron-down {
    padding-right: 20px;
}
.header-top .header-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}
/*HEADER BOTTOM*/
.header2 {
    background: white;
}
.header-bottom {
    height: 80px;
    position: relative;
}
.header-bottom .header-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header-bottom .header-section {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}
.header2 .header-bottom .header-section .menu-inline .fas {
    padding-left: 8px;
}
/*JUMBOTRON*/
.jumbotron {
height: 538px;
    background-image: url(./img-hubspot/jumbotron.png);
    background-color: #fff4ef;
    background-size: 1260px;
    background-repeat: no-repeat;
    background-position: 103% 0px;
}

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text {
    padding-top: 50px;
}

.jumbotron .jumbotron-text h1 {
    color: #33475b;
    font-size: 48px;
    margin-bottom: 30px;
}

.jumbotron .jumbotron-text p {
    line-height: 30px;
    font-size: 14px;
}
.divisore {
    height: 80px;
    background: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    transform: translateY(0%);
}
/* SPOT */
.spot {
    text-align: center;
    background-color: #f4f9fd;
    background-size: 1200px;
    margin-bottom: 50px;
}
.spot .spotlogo img{
    display: inline-block;
    max-width: 30%;
    margin-top: 130px;
}
.spot .spotlogo h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.spot .spotlogo p {
    text-align: center;
    line-height: 30px;
}
/* SALE */
.sale > .container {
    background: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    border-radius: 15px;
    margin-bottom: 50px;
}
.sale .sale-logo img{
    max-width: 62%;
    padding-top: 70px;
}
.sale .sale-logo {
    text-align: center;
}
.sale .sale-text h2{
    padding: 50px 0;
    font-size: 26px;
}
.sale .sale-text p {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 40px;
}
.sale .sale-text h3 {
    margin-bottom: 50px;
    position: relative;
}
.sale .sale-text h3:after {
    display: inline-block;
    content: "";
    height: 2px;
    background: #899397;
    position: absolute;
    width: 60%;
    top: 50%;
    margin-top: -2px;
    margin-left: 55px;
  }
  /*PLANS*/
.plans {
    margin-bottom: 70px;
}
.plan-left{
    background: #fff;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
.plan-center{
    background: #fff;
    text-align: center;
    margin: 0 4.5%;
    width: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
.plan-right{
    background: #fff;
    text-align: center;
    width: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
.plans img {
    padding-top: 20px;
    max-width: 40%;
}
.plans .plan-left img{
    max-width: 40%;
}
.plans .plan-center img {
    max-width: 50%;
}
.plans .plan-right img {
    max-width: 37%;
}
.plans h2 {
    margin: 20px 0 40px 0;
}
.plans p {
    color: black;
    line-height: 30px;
    margin-bottom: 50px;
    margin: 0 20px;
}
.plans h3 {
    margin: 40px 0;
}
.plans li {
    padding-left: 40px;
    text-align: left;
    list-style: none;
}
.plans li:last-child {
    margin-bottom: 30px;
}
.plans a {
    margin-bottom: 30px;
}
.plans .divisore2 {
    margin-top: 50px;
    width: 75%;
    margin-left: 40px;
}
/* STATISTICS */
.stats {
    height: 720px;
    margin-top: 50px;
    background-image: linear-gradient(to right, #0baab7, #0db6ac );  
}
.stats .stats-top {
    padding-top: 50px;
    text-align: center;
    color: #fff;
}
.stats .stats-top h2 {
    font-size: 30px;
}
.stats .stats-top p {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 40px;
    line-height: 30px;
}
.stats-data {
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.stats-data .number,
.stats-data .text {
    color: #fff;
}
.stats-data .number{
    margin-top: 20px;
    font-size: 45px;
    font-weight: bold;
}
.stats-data .text {
    margin: 15px 0;
    font-size: 13px;
}
.stats-lane .stats-data > .growth{
    padding-top: 10px;
}
.stats-data:nth-child(4) {
    border-right: 0;
}
.stats-data:last-child {
    border-bottom: 0;
    border-right: 0;
}
.stats-data:nth-child(5),
.stats-data:nth-child(6),
.stats-data:nth-child(7) {
    border-bottom: 0;
}
/* PUBLISHER SECTION*/
.publisher {
    background: #fff;
    height: 700px;
}
.publisher-content {
    height: 600px;
    width: 40%;
}
.publisher-icons {
    height: 600px;
    width: 60%;
}
.publisher-title {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 70px;
}
.publisher-title h2{
    font-size: 40px;
}
.publisher .publisher-content p {
    margin-top: 15px;
    padding-top: 30px;
    line-height: 25px;
    font-size: 14px;
}
.publisher .publisher-content > .publisher-text h4 {
    font-size: 30px;
    margin-top: 30px;
}
.publisher .publisher-content .subtext {
    font-size: 12px; 
    position: relative; 
    margin-bottom: 70px;
}
.publisher-icons img {
    margin-right: 30px;
    width: 100px;
}
.first-icons {
    padding-top: 40px;
}
.first-icons img:first-child,
.second-icons img:first-child{
    margin-left: 20px;
}
.first-icons img:nth-child(4),
.second-icons img:nth-child(3) {
    width: 90px;
    position: relative;
    top: 10px;
}
.first-icons img:nth-child(3){
    transform: translate(10px, 10px);
}
.second-icons {
    margin-top: 30px;
}
.second-icons img:nth-child(2),
.second-icons img:nth-child(4) {
    width: 90px;
    position: relative;
    bottom: 10px;
}
.second-icons img:nth-child(4){
    margin-left: 10px;
}
.second-icons img:nth-child(3) {
    width: 80px;
    position: relative;
    top: 0px;
    margin-left: 20px;
}
.chinese img{
    width: 300px;
    position: relative;
    left: 320px;
    top: 100px;
}
/*FOOTER*/
.footer {
    background: #32495b;
    color: #b7c3d0;
}
.footer h4 {
    color: white;
    padding: 40px 0;
}
.footer p {
    line-height: 35px;
}
.footer .fab{
    padding: 20px 10px;
}
/*LANGUAGE FOOTER*/
.language-footer {
    background: #32495b;
}
.language-footer .languages li{
    margin-top: 30px;
    list-style: none;
    display: inline-block;
    padding: 20px 10px;
    color: #b7c3d0;
    font-size: 15px;
}
.language-footer .languages {
    text-align: center;
}
/*CREDITS FOOTER*/
.credits-footer{
    height: 150px;
    background: #32495b; 
}
.logo {
    height: 80px;
    position: relative;
}
.logo .logo-left{
    position: absolute;
    top: 80%;
    left: 0;
    transform: translateY(-30%);
    text-align: left;
}
.credits-footer .logo .logo-left p,
.credits-footer .logo .logo-right p {
    color: #b7c3d0;
}
.credits-footer .logo .logo-left p {
    padding-top: 10px;
    padding-bottom: 50px;
}
.credits-footer .logo .logo-right p {
    display: inline;
    padding: 20px 15px;
}
.logo .logo-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}